/* --- MOBILE VIEW --- */

* {
  font-family: Arial;
  margin: 0px;
}

.nav_main {
  width: 100%;
  border-top: 2px solid green;
  border-bottom: 2px solid green;
}

.nav_main ul {
  list-style-type: none;
  width: 100%;
  padding: 0px;
}

.nav_main li {
  display: inline-block;
  width: 100%;
  padding: 5px;
  text-align: center;
}

/* Key-system CSS */

.action_box button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
}

.action_box button:hover{
	background-color: #32CD32;
}

.search_box {
	padding: 13px 32px;
	text-align: center;
}
/* --- LARGE SCREEN VIEW --- */
