/* --- MOBILE VIEW --- */


/* Navigation Bar */

* {
  font-family: Arial;
  margin: 0px;
}

html,body
{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    overflow: visible;
}

h1 {
  display: block;
}

.nav_main {
  display: block;
  position: relative;
  width: 100%;
  background-color: #282828;
  overflow: auto;
}

.nav_main a {
  width: 100%;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

.nav_main .icon {
  display: inline;
  float: right;
  width: auto;
  padding: 24px;
}

.nav_main .icon_clicked {
  position: absolute;
  right: 0px;
  top: 0px;
  width: auto;
  padding: 24px
}

.nav_main a:hover {
  background-color: #808080;
}

.portal-img {
  width: 50%;
}

.activeNav {
  background-color: #4CAF50;
}

/* Key-system CSS */

.main_box {
	margin-left: 1%;
	margin-right: 1%;
}

.action_box {
  display: flex;
  justify-content: center;
}

.action_box button {
	background-color: #4CAF50;
	border: none;
	color: #fff;
	padding: 10px 10px;
	width: 20%;
	text-align: center;
	text-decoration: none;
	font-size: .5rem;
  margin-left: 1px;
  margin-right: 1px;
}

.action_box button:hover{
	background-color: #32CD32;
}

.search_box {
	width: 100%;
	padding: 10px 10px;
	margin: 5px 0;
	font-size: 1rem;
	display: inline-block;
	box-sizing: border-box;
}

#filterDropDown {
	display: none;
}

.filter_container ul {
	list-style-type: none;
}

.checkbox_container {
	display: block;
	background-color: #fff;
	padding: 20px 20px;
	font-size: 1rem;
	cursor: pointer;
}

.checkbox_container:hover {
	background-color: #F8F8F8;
}

.filter_button {
	display: block;
	background-color: #fff;
	padding: 20px 20px;
	font-size: 1rem;
}

.filter_button:hover {
	background-color: #F8F8F8;
}

.buttonswitch {
	float: right;
	position: relative;
	background: #fff;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #ddd;
}

.flipswitch {
	float: right;
	position: relative;
	background: #fff;
	width: 120px;
	height: 40px;
	-webkit-appearance: initial;
	border-radius: 3px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none;
	font-size: 14px;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #ddd;
}

.flipswitch:hover {
	background: #A9A9A9;
}

.flipswitch:after {
	position: absolute;
	top: 5%;
	display: block;
	line-height: 32px;
	width: 45%;
	height: 90%;
	background: #fff;
	box-sizing: border-box;
	text-align: center;
	transition: all 0.3s ease-in 0s;
	color: black;
	border: #888 1px solid;
	border-radius: 3px;
}

.flipswitch:after {
  left: 2%;
  content: "OFF";
}

.flipswitch:checked:after {
  left: 53%;
  background-color: #000;
  border-color: #fff;
  color: #fff;
  content: "ON";
}

/* KEY-SYSTEM ---- KEY_BOX SECTION */

.key_box {
  margin: 0px;
}

.key_info {
  display: inline-block;
  border: 1px solid #000;
  background-color: #F8F8F8;
  width: 49%;
  margin: 0px;
}

.key_info:nth-child(even) {
  float: right;
}

.key_info div {
  font-size: 38px;
  border: 2px solid #000;
  border-radius: 3px;
  padding: 3px;
  margin: 10px;
  background-color: yellow;
}

/* KEY-SYSTEM ---- button modals */

.button_modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 15%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff80;
}

.modal_content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal_input {
	display: block;
	margin: 8px 0;
	width: 100%;
	padding: 30px 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 50px;
	box-sizing: border-box;
}

.modal_submit {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 30px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	font-size: 50px;
	cursor: pointer;
}

.modal_label {
	font-size: 50px;
	color: #4BE;
	padding: 10px;
}

.modal_title {
	font-size: 60px;
	text-align: center;
	padding-bottom: 10px;
}

input[text=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.button_close {
  color: #aaaaaa;
  float: right;
  font-size: 70px;
  font-weight: bold;
}

.button_close:hover, .button_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.search_results_box {
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 50px;
	box-sizing: border-box;
}

.key_list_group div {
	margin-left: 0;
	list-style-type: none;
}

.key_list_group div:hover {
	background-color: #765;
}

.key_list_group div:active {
	background-color: #345;
}

/* --- LARGE SCREEN VIEW --- */
